@model BugTracker.Models.Ticket

@{
    ViewBag.Title = "Details";
}

<h2>Ticket Details</h2>

<div>

    @Model.Title
    @Model.Description
    @Model.Project.Name
    @Model.TicketPriority
    @Model.TicketComments
    @Model.TicketAttachments
    @Model.TicketHistories
    @Model.OwnerUser.UserName
    @Model.AssignedTo.UserName

</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.Id }) |
    @Html.ActionLink("Back to List", "Index")
</p>
